html {
  font-size: 62.5%;
}

body {
  background-color: #aebae4;
}

header {
  width: 100%;
  height: 44px;
  background-color: #4a6dc7;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px 6px 0;
  border-bottom: 1px solid rgba(0, 31, 63, 0.6);
}
header .headerBtn {
  width: 24px;
  height: auto;
}

main .artistTabWrap {
  display: flex;
  justify-content: space-around;
}
main .artistTabWrap a {
  text-decoration: none;
}
main .artistTabWrap a .artistTab {
  width: 100px;
  height: 60px;
  text-align: center;
  padding-top: 6px;
}
main .artistTabWrap a p {
  color: #001f3f;
}
main .artistTop {
  width: 100%;
  height: 106px;
  background-image: url(../img/AdobeStock_173439459.jpeg);
  background-position: top 100px;
  background-size: cover;
  position: relative;
  top: 0;
  left: 0;
}
main .artistTop h2 {
  font-size: 2.8rem;
  font-family: "Italianno", cursive;
  color: white;
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -30%);
}
main .menuTab {
  padding-top: 20px;
  display: flex;
  justify-content: space-around;
}
main .menuTab p {
  font-size: 1.2rem;
  color: white;
  font-family: "Hiragino Maru Gothic Std", sans-serif;
  padding: 6px;
}
main .postWrap {
  width: 100%;
  height: 480px;
  overflow: auto;
}
main .postWrap section {
  width: 100%;
  height: auto;
  background-color: white;
  padding: 14px 0 10px;
  border-left: 14px solid rgba(233, 66, 53, 0.6);
  border-bottom: 1px solid rgba(0, 31, 63, 0.6);
}
main .postWrap section .nameWrap {
  width: 100%;
  height: 36px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
main .postWrap section .nameWrap .userWrap {
  height: 100%;
  display: flex;
  align-items: center;
}
main .postWrap section .nameWrap .userWrap .userIcon {
  width: 36px;
  height: 36px;
  border-radius: 100%;
  background-color: #c74a82;
  margin-left: 14px;
}
main .postWrap section .nameWrap .userWrap .userName {
  width: 130px;
  height: 36px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  padding-left: 10px;
}
main .postWrap section .nameWrap .userWrap .userName p {
  font-family: "Hiragino Maru Gothic Std", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2;
  padding: 0;
  margin: 0;
}
main .postWrap section .nameWrap .userWrap .userName p span {
  font-size: 1rem;
  font-weight: 300;
  padding-left: 5px;
  color: rgba(0, 31, 63, 0.6);
}
main .postWrap section .nameWrap .userWrap .userName time {
  font-size: 0.8rem;
  color: rgba(0, 31, 63, 0.6);
}
main .postWrap section .nameWrap h4 {
  color: rgba(233, 66, 53, 0.6);
  font-family: "Hiragino Maru Gothic Std", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  margin-left: 8rem;
  margin-right: 2rem;
}
main .postWrap section .userText {
  font-size: 1.6rem;
  font-family: "Hiragino Kaku Gothic Std", sans-serif;
  font-weight: 300;
  line-height: 22px;
  margin: 12px 16px 20px;
}
main .postWrap section .btnWrap {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding-right: 20px;
}
main .postWrap section .btnWrap button:last-child > img {
  width: 20px;
  height: auto;
}

footer {
  width: 100%;
  height: 44px;
  background-color: #4a6dc7;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 6px;
  border-top: 1px solid #001f3f;
}/*# sourceMappingURL=home.css.map */