$background: #aebae4;
$main: #4a6dc7;
$accent: #001f3f;
$heart: #c74a82;
$event: rgba(233, 66, 53, 0.6);
$release: rgba(74, 131, 199, 0.6);
$goods: rgba(74, 199, 154, 0.6);
$other: rgba(0, 0, 0, 0.6);
$subFont: rgba(0, 31, 63, 0.6);

html {
  font-size: 62.5%;
}

body {
  background-color: $background;
}

header {
  width: 100%;
  height: 44px;
  background-color: $main;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px 16px 0;
  border-bottom: 1px solid $subFont;
  // h1 {
  //   // border: 1px solid tomato;
  // }
  .headerBtn {
    width: 24px;
    height: auto;
  }
}

main {
  .artistTabWrap {
    width: 100%;
    height: auto;
    display: flex;
    align-items: end;
    a:nth-child(2) {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 31%;
      text-decoration: none;
      text-align: center;
      border-bottom: 6px solid $main;
      .artistImg {
        width: 36px;
        height: 36px;
        border-radius: 100%;
        background-size: cover;
        // border: 1px solid $main;
      }

      p {
        font-size: 1rem;
        color: $accent;
      }
      // .select {
      //   width: 40%;
      // }
      // .artistTab {
      //   text-align: center;
      //   padding-top: 6px;
      // }
    }
    a {
      width: 23%;
      text-decoration: none;
      text-align: center;
      // border: 1px solid tomato;
      padding-top: 4px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      .artistImg {
        width: 36px;
        height: 36px;
        border-radius: 100%;
        background-size: cover;
        // border: 1px solid $main;
      }

      p {
        color: $accent;
        font-size: 0.8rem;
      }
    }
  }
  .artistTop {
    width: 100%;
    height: 106px;
    // background-image: url(../img/AuroraSky.jpeg);
    background-position: center;
    background-size: cover;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    h2 {
      font-size: 2.8rem;
      font-family: "Italianno", cursive;
      color: white;
      position: absolute;
      top: 50%;
      left: 20%;
      transform: translate(-50%, -30%);
    }
    a {
      position: absolute;
      top: 50%;
      right: 2%;
      transform: translate(-50%, -30%);
    }
  }
  .menuTab {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    p {
      width: 16%;
      font-size: 1.2rem;
      font-family: "Hiragino Maru Gothic Std", sans-serif;
      color: white;
      margin-top: 16px;
      padding-bottom: 8px;
      text-align: center;
      // border: 1px solid tomato;
      a {
        text-decoration: none;
        color: white;
      }
    }
    p:first-child {
      font-weight: 600;
    }
    .menuSelect {
      width: 20%;
      border-bottom: 6px solid $main;
      font-size: 1.4rem;
      padding-bottom: 4px;
      a {
        color: $accent;
      }
    }
  }
  .postWrap {
    width: 100%;
    height: 480px;
    overflow: auto;
    section {
      width: 100%;
      height: auto;
      background-color: white;
      padding: 14px 0 10px;
      border-bottom: 1px solid $subFont;
      .nameWrap {
        width: 100%;
        height: 36px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
        // border: 1px solid tomato;
        .userWrap {
          height: 100%;
          display: flex;
          align-items: center;
          .userIcon {
            width: 36px;
            height: 36px;
            border-radius: 100%;
            background-color: #c74a82;
            margin-left: 14px;
          }
          .userName {
            width: 130px;
            height: 36px;
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: center;
            // border: 1px solid tomato;
            padding-left: 10px;
            p {
              font-family: "Hiragino Maru Gothic Std", sans-serif;
              font-size: 2rem;
              font-weight: 400;
              line-height: 1.2;
              padding: 0;
              margin: 0;
              span {
                font-size: 1rem;
                font-weight: 300;
                padding-left: 5px;
                color: $subFont;
              }
            }
            time {
              font-size: 0.8rem;
              color: $subFont;
            }
          }
        }
        h4 {
          font-family: "Hiragino Maru Gothic Std", sans-serif;
          font-size: 2rem;
          font-weight: 400;
          margin-left: 8rem;
          margin-right: 2rem;
        }
      }
      .userText {
        font-size: 1.6rem;
        font-family: "Hiragino Kaku Gothic Std", sans-serif;
        font-weight: 300;
        line-height: 22px;
        margin: 12px 16px 20px;
      }
      .btnWrap {
        width: 100%;
        display: flex;
        justify-content: space-around;
        padding-right: 20px;
        button:last-child > img {
          width: 20px;
          height: auto;
        }
      }
    }
    section:first-child {
      border-left: 14px solid $event;
      h4 {
        color: $event;
      }
    }
    section:nth-child(2) {
      border-left: 14px solid $release;
      h4 {
        color: $release;
      }
    }
    section:nth-child(3) {
      border-left: 14px solid $goods;
      h4 {
        color: $goods;
      }
    }
    section:nth-child(4) {
      border-left: 14px solid $other;
      h4 {
        color: $other;
      }
    }
  }
  .postBtn {
    width: 66px;
    height: 66px;
    border-radius: 100%;
    color: white;
    background-color: $main;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 30px -15px #001f3f;
    position: fixed;
    bottom: 80px;
    right: 20px;
    a {
      font-size: 4rem;
    }
  }
}

footer {
  width: 100%;
  height: 44px;
  background-color: $main;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px 20px 0;
}
