$background: #aebae4;
$main: #4a6dc7;
$accent: #001f3f;
$heart: #c74a82;
$event: rgba(233, 66, 53, 0.6);
$release: rgba(74, 131, 199, 0.6);
$goods: rgba(74, 199, 154, 0.6);
$subFont: rgba(0, 31, 63, 0.6);

html {
  font-size: 62.5%;
}

body {
  background-color: $background;
}

header {
  width: 100%;
  height: 44px;
  background-color: $main;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px 6px 0;
  border-bottom: 1px solid $subFont;
  // h1 {
  //   // border: 1px solid tomato;
  // }
  .headerBtn {
    width: 24px;
    height: auto;
  }
}

main {
  .artistTabWrap {
    display: flex;
    justify-content: space-around;
    .artistTab {
      width: 100px;
      height: 60px;
      text-align: center;
      padding-top: 6px;
    }
  }
  .artistTop {
    width: 100%;
    height: 106px;
    background-image: url(../img/AdobeStock_173439459.jpeg);
    background-position: top 100px;
    background-size: cover;
    position: relative;
    top: 0;
    left: 0;
    h2 {
      font-size: 2.8rem;
      font-family: "Italianno", cursive;
      color: white;
      position: absolute;
      top: 50%;
      left: 20%;
      transform: translate(-50%, -30%);
    }
  }
  .menuTab {
    padding-top: 20px;
    display: flex;
    justify-content: space-around;
    p {
      font-size: 1.2rem;
      color: white;
      font-family: "Hiragino Maru Gothic Std", sans-serif;
      padding: 6px;
      // border-bottom: 4px solid $main;
    }
  }
  .postWrap {
    width: 100%;
    height: 480px;
    overflow: auto;
    section {
      width: 100%;
      height: auto;
      background-color: white;
      padding: 14px 0 10px;
      border-left: 14px solid $event;
      border-bottom: 1px solid $subFont;
      .nameWrap {
        width: 100%;
        height: 36px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
        // border: 1px solid tomato;
        .userIcon {
          width: 36px;
          height: 36px;
          border-radius: 100%;
          background-color: #c74a82;
          margin-left: 14px;
        }
        .userName {
          max-width: 130px;
          height: 100%;
          display: flex;
          align-items: end;
          h3 {
            font-family: "Hiragino Maru Gothic Std", sans-serif;
            font-size: 2rem;
            font-weight: 400;
          }
          p {
            font-size: 1rem;
            color: $subFont;
          }
        }
        h4 {
          color: $event;
          font-family: "Hiragino Maru Gothic Std", sans-serif;
          font-size: 2rem;
          font-weight: 400;
          margin-right: 2rem;
        }
      }
      .userText {
        font-size: 1.6rem;
        font-family: "Hiragino Kaku Gothic Std", sans-serif;
        font-weight: 300;
        line-height: 22px;
        margin: 12px 16px 20px;
      }
      .btnWrap {
        width: 100%;
        display: flex;
        justify-content: space-around;
        padding-right: 20px;
        button:last-child > img {
          width: 20px;
          height: auto;
        }
      }
    }
  }
}

footer {
  width: 100%;
  height: 44px;
  background-color: $main;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 6px;
  border-top: 1px solid $accent;
}
