$background: #aebae4;
$main: #4a6dc7;
$accent: #001f3f;
$heart: #c74a82;
$event: rgba(233, 66, 53, 0.6);
$release: rgba(74, 131, 199, 0.6);
$goods: rgba(74, 199, 154, 0.6);
$other: rgba(0, 0, 0, 0.6);
$subFont: rgba(0, 31, 63, 0.6);

html {
  font-size: 62.5%;
}

body {
  width: 100%;
  height: auto;
  font-family: "Hiragino Maru Gothic Std", sans-serif;
}

h1 {
  margin-top: 230px;
  color: $accent;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
}

p {
  width: 100%;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 250;
}

.artistBtn {
  width: 90%;
  height: 52px;
  border-radius: 6px;
  background-color: $main;
  margin: 400px auto 0;
  a {
    width: 100%;
    height: 100%;
    font-size: 1.6rem;
    font-weight: 400;
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
